[submodule "library"]
	path = apps/library
	url = ssh://git@git.arlyon.co:1010/arlyon-co/library.git
[submodule "runescapeflip"]
	path = apps/runescapeflip
	url = ssh://git@git.arlyon.co:1010/arlyon-co/runescapeflip.git
	branch = demo
