div.ui.top.menu {
    border: 0px;
    border-radius: 0px;
}

#landing {
    margin:0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7703a5+0,00c7ef+100 */
    background: #602fa5; /* Old browsers */
    background: -moz-linear-gradient(300deg,  #602fa5 0%, #00c7ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(300deg,  #602fa5 0%,#00c7ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(300deg,  #602fa5 0%,#00c7ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7703a5', endColorstr='#00c7ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#navextra {
    margin-top: -14px;
    margin-bottom:14px;
}

#attention {
    max-height: calc(100% - 60px);
    padding-top: 8vw;
    padding-bottom: 0px;
}

#content {
    margin-top:-200px;
}

.labeltags  {
    padding-bottom:10px;
}

.downbutton {
    width:100px;
    height:80px;
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(-5%);
	}
	50% {
		transform: translateY(5%);
	}
	100% {
		transform: translateY(-5%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(-5%);
	}
	50% {
		-webkit-transform: translateY(5%);
	}
	100% {
		-webkit-transform: translateY(-5%);
	}
}

.downbutton path {
    fill:white;
}